.page1Content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-area: r-line1 / c-line1 / r-line3 / c-line3;
  background: rgba(128, 128, 128, 0) !important;
  height: 100vh;
}
.page1Half {
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  width: 50%;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page1Left {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page1Header1 {
  color: #ffa033;
  letter-spacing: 0.3em;
  margin-left: 10% !important;
}
.page1Header2 {
  color: #ffa033;
  letter-spacing: 0.15em;
  margin-left: 10% !important;
}
.page1Text1 {
  color: #484848;
  letter-spacing: 0.05em;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  text-align: left;
}
.page1VerticalLine {
  height: 100vh;
  border: 1px solid #ffa033;
  background: #ffa033;
  width: 1px;
}
.page1HorizontalLine {
  width: 100%;
  border: 1px solid #ffa033;
  background: #ffa033;
  height: 1px;
}
