.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.Content{
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 68vh;
 }

.App-header {
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
  flex-wrap: wrap;
  width: 45vw;
  min-width: 20rem;
  max-width: 40rem;

  
}
.Appbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: grey;
  min-height: 10vh;
  max-height: 25vh;
}

.Menu{
  justify-content: space-between;
  color: white;
}

.Footer{
  display: flex;
  background-color: #ffcd35 !important;
  height: 15vh;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

